body {
    font-family: Arial, sans-serif;
    background-color: #1767d8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

.group-form {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 1.5%;
}

.group-form div {
    background: white;
    max-width: 25rem;
    margin:  auto;
    padding: 10px;
    border-width: 10px;
    border-color: darkblue;
}

.go-button button {
    cursor: pointer;
    margin-top: 1.5%;
    position: absolute;
    left: 46%;
    height: 60px;
    width: 100px;
    color: white;
    border: none;
    background-color: rgb(64, 180, 226);
    border-radius: 5px;
  }
  
  .go-button button:before {
    content: "";
    width: 25px;
    height: 2px;
    background: slategray;
    position: absolute;
    top: 70%;
    margin-top: 0px;
    right: 24px;
    transition: all 0.3s ease;
  }
  
 .go-button button:hover:before {
    right: 34px;
    width: 35px;
  }
  
  .go-button button:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #000000;
    position: absolute;
    top: 72%;
    margin-top: -5px;
    right: 20px;
    transition: all 0.3s ease;
  }
  

  .go-button button:hover:after {
    right: 34px;
  }

  .go-button button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

