.group-item {
    text-decoration: none;
    display: block;
    border: solid black 2px;
    margin: 2rem auto;
    height: fit-content;
    width: 20rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.group-item:hover {
    background-color: rgb(64, 180, 226);
}

.group-name {
    font-size: 1.25rem;
}

.group-description {
    font-size: 0.75rem;
}

.new-task-btn-container .new-task-btn {
    margin: 1rem 1rem 0 1rem;
}

.new-task-btn {
    background-color: rgb(64, 180, 226);
    color: white;
    width: 10rem;
    padding: 0.5rem;
    margin: auto;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

a.new-task-btn {
    text-decoration: none;
}

.modal-container {
    position: fixed;
    z-index: 100;
    left: 0;
    padding-top: 18vh;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.new-task-container {
    position: relative;
    opacity: 1;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
}

.new-task-container > label {
    margin-top: 1.5rem;
}

.group-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 10rem;
}

.task-item {
    display: block;
    width: 15rem;
    margin: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.task-item:hover {
    background-color: rgb(64, 180, 226);
    color: white;
}

.task-title {
    font-size: 1rem;
    font-weight: bold;
}

.task-description {
    font-size: 0.75rem;
}

.task-detail-container {
    padding-top: 0.5rem;
    margin-left: 5rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
}


.add-comment {
    width: 100%;
}

.add-comment textarea {
    width: 100%;
    height: 8rem;
}

.comment-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.new-comment-btn {
    background-color: rgb(64, 180, 226);
    color: white;
    width: 10rem;
    padding: 0.5rem;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-container {
    margin-top: 1rem;
    background-color: azure;
    border: solid black 1px;
    border-radius: 5px;
}

.comment-info {
    padding: 0.5rem 2rem;
    color: white;
    background-color: rgb(64, 180, 226);
    display: flex;
    justify-content: space-between;
}

.comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.comment-content-button {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.comment-content-button button {
    color: white;
    background-color: rgb(64, 180, 226);
    padding: 0.25rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.edit-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.edit-content textarea {
    width: 100%;
}

.edit-content button {
    margin-left: 1rem;
}