.group-item {
    text-decoration: none;
    display: block;
    border: solid black 2px;
    margin: 2rem auto;
    height: fit-content;
    width: 20rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.group-item:hover {
    background-color: rgb(64, 180, 226);
}

.group-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.group-description {
    font-size: 0.75rem;
}